Beatriz 2D (04/09/2024)

body {
    background-color: rgb (102, 101, 101);
    margin: 0px;
    font-family: "Space Grotesk", sans-serif;
    margin-bottom: 79px;
}


header {
    background-color: beige;
    border-bottom: solid: 5px #000000;
    padding: 20px;
    font-size: 30px;
    color: rgb (98, 3, 3);
}

.chamada {
    background-color: #bbbaba;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 5%;

}
img {
    height: 255px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 17px;
}

.categoria {
padding-left: 20px;
padding-right: 20px;
margin-top: 50px;
}

.categoria-videos img {
 opacity: 0.4;
 height: 200px;
}

.categoria-videos img:hover {
 opacity: 1.0;
 border: 5px solid: red;
}

.categoria h2 {
    color: rgb(98, 3, 3);
}
